.header {
  font-family: var(--headline-font);
  padding: 1rem;
}
.header h1 {
  font-family: var(--headline-font);
  font-size: 0;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 1rem;
}
.header h5 {
  font-family: var(----headline-font);
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.headerImage {
  position: relative;
  width: 400px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}
.headerImageContainer {
  display: block;
  position: relative;
  width: auto;
  height: 85px;
}
.headerImageContainer img {
  object-fit: contain;
  object-position: left;
}
.headerImageDark {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .headerImageLight {
    display: none;
  }
  .headerImageDark {
    display: block;
  }
}
.navigation {
  display: flex;
  column-gap: 1rem;
  font-size: 10pt;
}
.navigation a {
  font-weight: 800;
  color: var(--theme-primary);
  text-transform: uppercase;
}
.footer {
  margin-top: 4rem;
  padding: 1rem;
  font-size: 9pt;
  display: grid;
  row-gap: 1rem;
}
.footer a {
  color: var(--theme-primary);
}
.footer .links {
  display: block;
}
.footer .links span {
  margin-right: 1rem;
}
@media screen and (min-width: 72rem) {
  .navigation {
    font-size: 13pt;
  }
  .header {
    margin-bottom: 4rem;
  }
  .grid {
    max-width: 72rem;
    margin: auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }
}
