.main {
  min-height: 100vh;
  margin: auto;
  max-width: 72rem;
  column-gap: 2rem;
}

.pageHeader {
  font-size: 48pt;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-primary);
}