.main {
  min-height: 100vh;
  margin: auto;
  column-gap: 2rem;
  padding: 1rem;
}

.pageHeader {
  font-size: 24pt;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-primary);
}
@media (min-width: 80rem) {
  .main {
    max-width: 72rem;
  }
  .pageHeader {
    font-size: 48pt;
  }
}
