.body {
  font-size: 115%;
  line-height: 1.5;
}

.body a {
  color: var(--theme-primary);
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--theme-primary);
  font-size: 125%;
}

@media screen and (min-width: 72rem) {
  .body h1,
  .body h2,
  .body h3,
  .body h4,
  .body h5,
  .body h6 {
    font-size: 150%;
  }
}

.body ul,
.body ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.body p,
.body blockquote {
  margin-bottom: 1rem;
}
.body p:last-child {
  margin-bottom: 0;
}

.body img {
  max-width: 100%;
}

.body blockquote {
  border-left: 4px solid var(--theme-primary);
  padding-left: 1rem;
}
