.bioSection {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
}
.bioSection .photo {
    position: relative;
    max-height: 15rem;
}
.bioSection .photo img {
    height: 100%;
    width: auto;
    object-fit: contain;
}
.socialLinks {
    display: flex;
    column-gap: .5rem;
}
.photoSection {
    display: grid;
    grid-template-rows: max-content min-content;
    row-gap: 1rem;
}