.markdownText table {
  font-size: 0.95rem;
  border-collapse: collapse;
}
.markdownText thead tr th {
  font-weight: bold;
  background-color: var(--theme-alternate);
  color: var(--theme-alternate-contrast);
  border-bottom: 2px solid var(--theme-alternate);
  padding-top: 1rem;
}
.markdownText td,
.markdownText th {
  padding: 0.125rem 1rem 0.125rem 1rem;
  border-bottom: 1px solid var(--theme-alternate);
}

.markdownText td:first-child {
  padding-left: 2rem;
}
