.pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: .5rem;
    font-weight: bold;
}
.pagination span {
    background-color: var(--theme-alternate);
    color: var(--theme-alternate-contrast);
    padding: 1rem;
    border-radius: .25rem;
}
.pagination .current {
    background-color: var(--theme-alternate-contrast);
    color: var(--theme-alternate);
}