.posts {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.posts.four {
  grid-template-columns: repeat(4, 1fr);
}

.post {
  display: grid;
  row-gap: 0.5rem;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.postHero {
  grid-column: 1 / span 2;
  grid-row: span 2;
  padding: 1rem;
  background: var(--theme-hero);
}

.post .image {
  position: relative;
  height: 250px;
}
.postHero .image {
  height: 550px;
}

.post .noImage {
  position: relative;
  height: 250px;
  background: var(--theme-primary);
}

.post .image img {
  object-fit: cover;
}

.post .headline {
  font-weight: bold;
  font-size: 24px;
}
.postHero .headline {
  font-size: 36px;
}

.post .published {
  font-size: 0.95rem;
}

.post .details {
  font-weight: bold;
  font-size: 12pt;
}

.post .details > span {
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #555;
}

.post .details > span:last-child {
  border-right: none;
  padding-right: 0;
}

.post .primaryGroup {
  text-transform: uppercase;
  font-size: 11pt;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: RGBA(210, 10, 20, 0.75);
  color: white;
  padding: 0.5rem 1rem;
}
