.card {
  padding: 1rem;
  background-color: var(--theme-primary);
  color: var(--theme-primary-contrast);
  grid-template-rows: auto auto 1fr auto;
}
.card.alternate {
  background-color: var(--theme-alternate);
  color: var(--theme-alternate-contrast);
}
.card .subscribe {
  font-weight: bold;
  background-color: var(--theme-primary-contrast);
  color: var(--theme-primary);

  padding: 1rem;
  margin-top: 0.5rem;
}
.card.alternate .subscribe {
  background-color: var(--theme-alternate-contrast);
  color: var(--theme-alternate);
}

.card .image {
  position: relative;
}
.card .image img {
  object-fit: cover;
}

.textCard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 10pt;
}

.textCard h1,
.textCard h2,
.textCard h3,
.textCard h4,
.textCard h5,
.textCard h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: white;
}

.textCard ul:last-child,
.textCard ol:last-child {
  margin: 0 1rem 0;
}
.textCard ul li,
.textCard ol li {
  margin-bottom: 0;
}

.streamCard {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 250px;
}

.streamCard .image {
  position: relative;
  height: 100%;
}

.streamCard .image img {
  height: 100%;
  object-fit: cover;
}

.streamCard h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  text-align: center;
  font-size: 24pt;
  text-shadow: 1px 1px 3px RGBA(0, 0, 0, 0.8), 4px 4px 24px RGBA(0, 0, 0, 0.9),
    4px 4px 48px RGBA(0, 0, 0, 0.4);
}
