.list {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    font-size: 11pt;
}
.list li {
    list-style: disc;
    font-weight: 500;
    margin-left: 1rem;
}
.card {
  padding: 1rem;
  background-color: var(--theme-alternate);
  color: var(--theme-alternate-contrast);
  grid-template-rows: auto auto 1fr auto;
}