.rightRail {
  height: 100%;
}

.rightRail h3 {
  margin-bottom: 1rem;
  color: var(--theme-primary);
  padding: 0.5rem;
  text-align: right;
  text-transform: uppercase;
  border-bottom: 4px solid var(--theme-primary);
}

.headline {
  font-weight: 900;
}

.summary {
  font-style: italic;
}

.postCard {
  display: grid;
  row-gap: 0.5rem;
}

.postCardImage {
  position: relative;
  height: 150px;
  background-color: var(--background-rgb);
  border-radius: 0.25rem;
}
.postCardImage img {
  border-radius: 0.25rem;
}
.postCardImage.noImage {
  background: var(--no-background-image);
}
@media screen and (max-width: 48rem) {
  .postCardImage {
    height: 300px;
  }
}

.postCardImage img {
  object-fit: cover;
  object-position: 50% 10%;
}

.postCard .postCardHeadline {
  font-weight: bold;
}

.posts {
  display: grid;
  row-gap: 1.5rem;
}

.embed {
  margin-bottom: 1rem;
  max-width: 100%;
}
.embed iframe {
  max-width: 100%;
}

.embed blockquote {
  font-size: 90%;
}

.groupTag {
  color: var(--theme-primary);
  font-weight: 900;
  font-size: 18pt;
  text-transform: uppercase;
  margin-bottom: 0;
}

.commaSeparatedList span:not(:empty):not(:last-child):after {
  content: ", ";
}
