.main {
  display: block;
  padding: 1rem;
}

.section {
  margin: auto;
  margin-bottom: 1rem;
  display: grid;
  row-gap: 1rem;
}

/** Article Details */
.groups a,
.details a,
.streams a {
  color: var(--theme-primary);
  font-weight: bold;
}

.details {
  text-transform: uppercase;
  grid-template-columns: repeat(3, max-content);
  margin-bottom: 1rem;
}

.details > span {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.details > span:last-child {
  padding-right: 0;
  border-right: none;
}

.headline {
  font-size: 28pt;
  margin-bottom: 1rem;
  line-height: 1.15;
}

.summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16pt;
  font-style: italic;
}

.groups span:not(:empty):not(:last-child):after {
  content: ", ";
}

.leadPhoto {
  max-width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.leadPhoto img {
  object-fit: cover;
  object-position: 50% 10%;
}

.leadPhotoCaption {
  font-size: 9pt;
  text-align: right;
}
.leadPhotoContainer {
  margin-bottom: 1rem;
}

.streamsContent span:not(:empty):not(:last-child):after {
  content: ", ";
}

.detailSection {
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--theme-alternate);
}

@media screen and (min-width: 48rem) {
  .leadPhoto {
    height: 50vh;
    max-height: 600px;
  }
}
@media screen and (min-width: 56rem) {
  .leadPhoto {
    height: 300px;
  }
  .main {
    display: grid;
    grid-template-columns: auto 200px;
    column-gap: 2rem;
  }
  .details {
    display: grid;
    column-gap: 2rem;
  }
  .headline {
    font-size: 48pt;
  }
  .summary {
    font-size: 14pt;
  }
  .leadPhoto {
    height: 500px;
  }
  .leadPhotoContainer,
  .headline,
  .details > span {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 60rem) {
  .main {
    grid-template-columns: auto 300px;
  }
}